* {
      box-sizing: border-box;
      font-family: "Oswald",sans-serif;
      /*font-weight: bold;*/
}
body{
	margin-top: 50px;
	margin-right: 100px;
	margin-bottom: 50px;
	margin-left: 100px;
}
h1{
    margin: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2d3c49;
    font-weight:100;
    text-align: right;
}
.clearfix:after {
      content: '';
      clear: both;
      display: table;
    }
.left{
	float: left;
}
.right{
	float: right;
}
.relative-right{
	text-align: right;
	margin: 0px;
}
.tab{
	background-color: #7d97ad;
	height: 3px;
	margin-top: 4px;
}
@media screen and (max-width: 768px){
      h1{
        font-size: 23px;
      }
      .relative-right{
      	font-size: 15px;
      }
}
@media screen and (max-width: 360px){
      .container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	}
	h1{
        font-size: 16px;
        text-align: center;
    }
      .relative-right{
      	font-size: 12px;
      	text-align: center;
    }
}