* {
      box-sizing: border-box;
      font-family: "Oswald",sans-serif;
      /*font-weight: bold;*/
}
body{
	margin-top: 35px;
	margin-right: 80px;
	margin-bottom: 35px;
	margin-left: 80px;
}
img, embed,object{
	max-width: 100%;
}
h1{
    margin: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2d3c49;
    font-weight:100;
    text-align: right;
}
h2{
	text-transform: uppercase;
	color: #2d3c49;
	margin: 10px;
}
h3,a{
	color: #7d97ad;
}
h1,h2,h4{
	font-stretch: semi-condensed;
}
figure{
	margin-right: 0px;
	margin-left: 0px;
	min-width: 100%;
}
.text-center{
	text-align: center;
}
.main-image{
	min-width: 100%;
	padding-left: 50px;
	padding-right: 50px;
}
.clearfix-header:after {
      content: '';
      clear: both;
      display: table;
    }
.left{
	float: left;
}
.title{
	float: right;
}
.career{
	text-align: right;
	margin: 0px;
}
.tab{
	background-color: #7d97ad;
	height: 3px;
	margin-top: 4px;
}
.feature-img{
	box-shadow: 0px 0px 26px -7px rgba(0,0,0,0.75);
}
.projects-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.project{
	margin-bottom: 20px;
	width: auto;
}
.project img{
width: auto;
height: auto;
box-shadow: 0px 0px 26px -7px rgba(0,0,0,0.75);
}
#feature-work{
	margin: 0px;
	padding: 10px;
}

/*medium screens*/
@media screen and (max-width: 800px){
	body{
	margin-top: 20px;
	margin-right: 45px;
	margin-bottom: 20px;
	margin-left: 45px;
	}
    h1{
        font-size: 23px;
    }
    h2{
    	font-size: 20px;
    }
    h3{
    	font-size: 18px;
    }
    .career{
      	font-size: 15px;
    }
    figure img{
	padding-left: 0px;
	padding-right: 0px;
	}
}

/*Small screens*/
@media screen and (max-width: 500px){
	body{
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
	}
    /*
    .logo-container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	}
	*/
	h1{
        font-size: 16px;
    }
    h2{
    	font-size: 15px;
    }
    h3{
        font-size: 14px;
    }
    .career{
      	font-size: 12px;
    }
    .project img{
	width: 240px;
	height: 135px;
	}
}